.topbar {

  display: flex;
  flex-direction: row;
  background-color: #3d3d3d;
  padding: 8px 4px;
  border-bottom: 1px solid #1d1d1d;

  h1 {
    margin: 0px 16px 0px 4px;
    font-size: 1.5em;
    color: #ffffff;
    align-self: center;
    background: linear-gradient(to right, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  button {
    outline: none;
    border: none;
    margin: 0em 0.25em 0em 0.25em;
    padding: 8px 16px;
    background-color: #0f56f0;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 600;
    }

  label {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0px 8px;
    font-weight: 600;
    color: #ffffff;
  }

}